<%- include ../partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Phone Number</th>
                    <th class="text-center">Email Address</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let i = 0; i < ContactsList.length; i++) { %>
                    <tr>
                        <td class="text-center"><%= ContactsList[i].make %></td>
                        <td class="text-center"><%= ContactsList[i].model %></td>
                        <td class="text-center"><%= ContactsList[i].year %></td>                       
                        <td class="text-center">
                            <a href="/cars/details/<%= ContactsList[i]._id %>" class="btn btn-success btn-sm"> 
                            <i class="fas fa-info"></i> </a>
                        </td>
                        <td class="text-center">
                            <a href="/cars/edit/<%=ContactsList[i]._id %> " class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/cars/delete/<%=ContactsList[i]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/footer.ejs %>